#container {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid lightgrey;
  border-radius: 10%;
}

#teamOne {
  height: 500px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

#teamTwo {
  height: 500px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

#mainInfo {
  padding-top: 50px;
}

#versus {
  font-size: 100px;
  padding-top: 200px;
  margin: 0 auto;
}

#venueHeader {
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}
